name: New Translations
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
jobs:
  check_changed_files:
    name: Check changed files
    runs-on: ubuntu-latest
    outputs:
      changed_files: ${{ steps.changed-files.outputs.locales_all_modified_files }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run changed-files with the commit of the last successful push event on current branch
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          since_last_remote_commit: true
          files_yaml: |
            locales:
              - locales/it/*.json

      - name: List changed files
        run: echo "CHANGED_FILES=${{ steps.changed-files.outputs.locales_all_modified_files }}" >> $GITHUB_OUTPUT

  process_translations:
    needs: [check_changed_files]
    if: ${{needs.check_changed_files.outputs.changed_files != ''}}
    runs-on: ubuntu-latest
    steps:
      - name: lokalise
        uses: jimmysafe/lokalise-actions/translations-open-pr@main-v1
